
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
html{
    scroll-behavior: smooth;/*Gk addition*/
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

/* Tshepo Mpogeng - Header */

.header {
    border-bottom: 1px solid black;
    padding: 16px 0 16px 0;
}


.nav-bar {
    display: flex;
    justify-content: space-around;
    gap: 450px;
    min-height: 70px;
    /*Gk edit*/
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#logo {
    display: flex;
    align-items: center;
}

#logo > h1 {
    margin: 0;
}

.nav {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav > div > a {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.nav > div > a:hover {
    color: rgb(0, 115, 255);
    border-bottom: 2px solid rgb(0, 115, 255);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

/* Ntomfuthi Ntshangase */
.explaination-section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;/*GK chanage paragraph width*/
    padding: 20px;
    margin: 80px auto; 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
    .explanation-section {
        width: 90%; 
    }
}

@media screen and (max-width: 480px) {
    .explanation-section {
        width: 95%; 
    }
}
/*Goitseone Kau*/
.image-section{
    display: flex;
    justify-content: center;
    align-content: center;
    height:600px;
    width:60vw;
   margin: auto;
   margin-top: 50px;
   margin-bottom: 50px;
    box-shadow: 0 3px 6px black;
    position: relative;
    overflow: hidden;
}


.image-section>button{
    border: none;
    background-color: #ffffff21;
    position: absolute;
    height: 100%;
    z-index: 1;
}

.image-section>button:hover{
    border: none;
    background-color: #18161663; 
    font-size: 2em;
    font-weight: 900;
    color: black;
}


.left-arrow{ left: 0;}

.right-arrow{right: 0;}

.fa-chevron-left,.fa-chevron-right{
    font-size: 2em;
    font-weight: 600;
    color:rgb(255, 255, 255);
}


.slide{
    margin-top: -40px;
    width:100vw ; height: 100vh;
    background-repeat:no-repeat;
    background-position: 50% 0% ;
    background-size: 60% 100%;
    position: absolute;
    z-index: 1;
    opacity: 0;
}


.active{
    opacity: 1;
}

.title{
   background-color: rgba(0, 0, 0, 0.474);
    text-align: center;
    vertical-align: middle;
    width: 70%;
    margin-top: 280px;
    margin-left: 15%;
    color: #fff;
    font-size: 50px;
    font-weight:900;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    z-index: 0;
}

@media screen and (max-width:1150px) {
    .explaination-section {
        width: 80%;/*GK chnage paragraph width*/
    }
    .image-section{
        display: flex;
        justify-content: center;
        align-content: center;
        height:600px;
        width:80vw;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        box-shadow: 0 3px 6px black;
        position: relative;
        overflow: hidden;
    }
    
    .slide{
        margin-top: -40px;
        width:100% ; height: 100vh;
        background-repeat:no-repeat;
        background-position: 50% 0% ;
        background-size: 100% 100%;
        position: absolute;
        z-index: 1;
        opacity: 0;
    }

    .title{ 
        background-color: rgba(0, 0, 0, 0.474);
        text-align: center;
        vertical-align: middle;
        width: 70%;
        margin-top: 280px;
        margin-left: 15%;
        color: #fff;
        font-size: 3em;
        font-weight:900;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        z-index: 0;
    }
   
.active{
    opacity: 1;
}
}


@media screen and (max-width:800px) {
    
    .image-section{
        display: flex;
        justify-content: center;
        align-content: center;
        height:500px;
        width:80vw;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        box-shadow: 0 3px 6px black;
        position: relative;
        overflow: hidden;
    }
    
    .slide{
        margin-top: -25px;
        width:100% ; height: 100vh;
        background-repeat:no-repeat;
        background-position: 50% 0% ;
        background-size: 100% 80%;
        position: absolute;
        z-index: 1;
        opacity: 0;
    }

    .title{ 
        background-color: rgba(0, 0, 0, 0.474);
        text-align: center;
        vertical-align: middle;
        width: 70%;
        margin-top: 240px;
        margin-left: 15%;
        color: #fff;
        font-size: 2.5em;
        font-weight:900;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        z-index: 0;
    }
   
.active{
    opacity: 1;
}
}

@media screen and (max-width:600px) {
    .explaination-section {
        width: 80%;/*GK chnage paragraph width*/
    }

    .image-section{
  
        height:400px;
        width:80vw;

    }
    
    .slide{
        background-position: 50% 0% ;
        background-size: 100% 70%;
    }

    .title{ 
        width: 70%;
        margin-top: 200px;
        font-size: 2em;
        font-weight:900;
        font-weight: 800;
    }
   
    .active{
        opacity: 1;
    }
}


@media screen and (max-width:600px) {
    .image-section{
        height:400px;
        width:80vw;
    }
    
    .slide{
       background-position: 50% 0% ;
        background-size: 110% 65%;
    }

    .title{ 
        width: 70%;
        margin-top: 200px;
        font-size: 1.5em;
        font-weight:900;
        font-weight: 900;
    }
   
    .active{
        opacity: 1;
    }

    .image-section>button:hover{
        font-size: 1em;
        font-weight: 900;
    }
}
/*Matlhogonolo - Naoa - Cards*/
.cards-name{
    text-align: center;
    color: black;
}
.row{
    display: flex;
    justify-content: space-evenly;
    margin: 60px;
    
}
.flip-card{
    background-color: transparent;
    width: 600px;
    height: 600px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    
}
.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg)
}
.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}
.flip-card-back{
background:linear-gradient(45deg,lightblue,rgb(30, 60, 143)) ;
color: #d8d8d8;
transform: rotateY(180deg);
}
.card-heading{
    color: white;
}
.sell-par{
    font-style: italic;
    margin-top: 20px;
    color: red;
    padding:20px;
    align-items: end;
}
.info{
    font-size: 26px;
    text-align: justify;
    padding: 20px;
    align-items: center;
}
img {
    object-fit: cover;
}
.buy-btn{
    background-color: blue;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    margin-top: 20px;
    font-size: large;
}
.buy-btn:hover{
    background-color: red;
    cursor: pointer; 
}
/*footer By Hilaire*/
#tdlink {
    padding-left: 50px;
    padding-right: 50px;
}
#resizelinks {
    font-size : 50px; 
       
}
@keyframes footmove {
    from{
        background-color: whitesmoke;
    }
    to{
        background-color: lightseagreen;
    }
}
.footerpage {
    background-color: blanchedalmond;
    margin: 0%;
    animation: footmove 5s linear infinite;
}
#myMap{
    width:300px;
    height:100px;
    border:0;
    padding-left: 600px;
}